<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="/create">Create</a>
		</div>

		<div class="table-container">
			<h2 class="title">All users</h2>
			<table id="customers">
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Name</th>
					<th>City</th>
					<th>Action</th>
				</tr>
				<% listUsers.length > 0 && listUsers.map((user, index) => { %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= user.email %></td>
					<td><%= user.name %></td>
					<td><%= user.city %></td>
					<td>
						<a href="/update/<%= user.id %>">Edit</a>
						<a href="/delete-user/<%= user.id %>">Delete</a>
					</td>
				</tr>
				<% }) %>
			</table>
		</div>
	</body>
</html>
